.header__subtitle {
  position: absolute;
  color: var(--text-color);
  width: 388px;
  margin: 0 0 30px 64px;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
