.khan__buy-link {
  margin: 0;
  padding: 0;
  color: var(--links-color);
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity 0.2s linear;
  align-self: baseline;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
